@font-face {
    font-family: "Kepler";
    src: url("Kepler.otf") format("opentype");
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: Kepler;
    font-size: 20px;
    background: #e7d9f7;
    ;
}

.url {
    color: #e7d9f7;
}

.url:hover {
    color: wheat;
}

a {
    color: #865aa1;
}

a:hover {
    color: black;
}

#img {
    width: 60px;
    height: 60px;
}

#name {
    font-size: 50px;
}

header {
    background: linear-gradient( rgb(214, 174, 241), #eeaccd, rgb(248, 223, 194));
    height: 70px;
}

footer {
    background: linear-gradient( rgb(214, 174, 241), #eeaccd, rgb(248, 223, 194));
    height: 70px;
}

table {
    width: 1000px;
    text-align: left;
    border-collapse: separate;
    border-spacing: 5px;
    background: #865aa1;
    color: #414141;
    border: 16px solid #865aa1;
    border-radius: 20px;
}

th {
    font-size: 18px;
    padding: 10px;
    color: rgb(209, 209, 209);
}

td {
    padding: 10px;
}

tr.chet {
    background-color: rgb(212, 196, 245);
}

tr.nechet {
    background-color: rgb(248, 243, 194);
}

@media all and (orientation: landscape),
(min-width: 1100px) {
    body {
        font-size: 32px;
    }
    header {
        height: 120px;
    }
    #img {
        width: 100px;
        height: 100px;
    }
    #name {
        font-size: 40px;
    }
    footer {
        height: 120px;
    }
    h2 {
        font-size: 56px;
    }
}